.banner{ 
    background-color: plum;
           }

.banner_titulo{ 
    font-size: 40px;
    color: purple;
text-align: center;
       }

.banner_texto{    text-align: center;     }

.banner_pesquisa{         
background-color:transparent;
border:1px solid white;
border-radius:24px;
width:50%
color:;}